/* Header */
.header { max-width:1614px; }
#menu > li {  padding-right:70px; }

#menu > li:last-child > .subMenu { width:140px; margin-left:-80px; }

.slicknav_menu { display:none; }

/* Contents */
.contentsWrap { margin-bottom:70px; }
.contents {max-width:1614px;}
.ccBar {width:1614px;}
.ccBar ul li {padding:0 20px;}

/* Footer */
.footer {max-width:1614px; height:220px; clear:left; }
.footer ul li { padding:0 20px;}
.footerRight {width:auto; display:inline-block; float:right; padding-top:145px;}
.footerLeft {width:auto; display:inline-block; float:left; padding-top:40px;}
.footer ul {float:right; }


