@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css);
/* CSS Document */

/* Reset CSS */
* { margin:0; padding:0; border:0; outline:0; vertical-align:top; }
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display:block; }
ol, ul, dl { list-style-type:none; }
li { display:inline-block; }
img, video {max-width:100%; border:0; vertical-align:top; }
a {vertical-align:top; text-decoration:none; color:#3f3f3f; text-decoration:none; }
a:hover { text-decoration:none; }
table {	border-collapse:collapse; border-spacing:0; }
input, select {vertical-align:middle; }
body {background-color:#fff; font-family:'Nanum Gothic', '나눔고딕', '맑은고딕', '돋움', Dotum, Arial, sans-serif; font-size:13px; line-height:1.5; color:#3f3f3f; line-height:160%; }
label {cursor:pointer; }
blind,legend,hr,caption {display:block; overflow:hidden; position:absolute;	top:0; left:-1000em; }
i,em,address {font-style:normal; font-weight:normal; }

/* ALL */
.pc {display:block;}
.tablet { display:none; }
.mobile {display:none;}
.slicknav_menu { display:none; }

.fLeft { float:left; }
.fRight { float:right; }

.mainLinkArea { position:absolute; left:0; top:0; width:100%; height:100%; z-index:5; }
.mainLinkArea:hover { background:#333; opacity:0.05; filter:alpha(opacity=5); z-index:50; }
.mainLinkArea.noHover:hover { opacity:0; filter:alpha(opacity=0); }

.localNavigation { height:30px; }