/* 1150px */
@media screen and ( max-width:1150px ) {

	.contentWidth { max-width:960px; }


	/* clien */
	.clean { height:40px; }

	/* main Content-Left */
	.leftMainBox { width:290px; }
	.leftMainBox > .box { margin-bottom:15px; }
	.leftMainBox > .box3 { margin-bottom:0; }

	/* main Content-Right */
	.rightMainBox { width:630px; }
	.rightMainBox > .box { height:217px; margin-bottom:15px; }

	.rightMainBox > .box > .inBox > .title { font-size:16px; }
	.rightMainBox > .box > .inBox > .txt { font-size:13px; }

	.rightMainBox > .box2 { height:150px; }
	.rightMainBox > .box2 > .inBox1 { background:url(../img/bBg5.jpg) no-repeat 40% 50% #cbc9b2; }
	.rightMainBox > .box2 > .inBox2 { background:url(../img/bBg6.jpg) no-repeat 40% 50% #98aba7; }
	.rightMainBox > .box2 > .inBox3 { background:url(../img/bBg7.jpg) no-repeat 40% 50% #879b9a; }

	/* Banner */
	.banner ul li { display:inline-block; padding:0 4px; border-left:0; }
	.banner ul li a img { width:90%; }

	/* Copyright */
	footer .fLogo { float:left; margin:50px 40px 50px 0; }
	footer .copyright { float:left; margin:36px 0 50px 0; color:#7b7b7b; line-height:2.0; }

}


/* 1000px */
@media screen and ( max-width:1000px ) {

	.contentWidth { max-width:850px; }

	/* clien */
	.clean { height:30px; }

	/* main Content-Left */
	.leftMainBox { width:100%; }
	.leftMainBox > .box { float:left; width:32%; margin-right:2%; }
	.leftMainBox > .box3 { margin-right:0; }
	.leftMainBox > .box > .title { font-size:14px; }

	/* main Content-Right */
	.rightMainBox { width:100%; }
	.rightMainBox > .box { height:217px; margin-bottom:15px; }

	.rightMainBox > .box > .inBox > .title { font-size:16px; }
	.rightMainBox > .box > .inBox > .txt { font-size:13px; }

	.rightMainBox > .box2 { height:160px; }
	.rightMainBox > .box2 > .inBox1 { background:url(../img/bBg5.jpg) no-repeat 100% 100% #cbc9b2; background-size:100%; }
	.rightMainBox > .box2 > .inBox2 { background:url(../img/bBg6.jpg) no-repeat 100% 100% #98aba7; background-size:100%; }
	.rightMainBox > .box2 > .inBox3 { background:url(../img/bBg7.jpg) no-repeat 100% 100% #879b9a; background-size:100%; }

	/* Banner */
	.banner ul li { display:inline-block; padding:0px; margin:0; height:30px; max-width:16%; }
	.banner ul li a img { max-width:100%; }


	/* Copyright */
	footer .fLogo { float:left; margin:30px 0 0 0; }
	footer .copyright { float:left; margin:20px 0; }

}



/* 880px */
@media screen and ( max-width:880px ) {

	.contentWidth { max-width:700px; }

	/* Nav */
	nav { height:70px; }
	nav .logo { top:12px; }
	nav .gnb { margin-top:24px; }
	#menu > li a { font-size:16px; }

	#menu > li > .subMenu { top:48px; }
	#menu > li > .subMenu > li { padding:5px 10px; border-bottom: 1px solid #ddd; display: list-item; }
	#menu > li > .subMenu > li > a { font-size:13px; line-height:1.5; color:#585858; display:inline-block; width:100%; }
	#menu > li > .subMenu > li > a:hover { color:#2041a8; }

	#menu > li:last-child > .subMenu { width:140px; margin-left:-80px; }

	/* Banner */
	.banner ul li { max-width:14%; }

}



/* 650px */
@media screen and ( max-width:730px ) {
	
	.pc { display:none; }
	.mobile { display:block; }
	.slicknav_menu { display:block; }

	header { background:#fff; }
	.contentWidth { max-width:650px; padding:0 10px; }

	.adminMenu { position:absolute; left:5px; top:7px; width:120px; height:30px; background:#222; color:#f9f9f9; }
	.footnavi { position:absolute; left:0; top:0; width:140px; height:40px; background:#5a5a5e; color:#a2a2a2; }
	
	nav .logo { position:relative; top:0; text-align:center; }

	.conArea { float:left; width:100%; }

	/* Nav */
	nav { height:70px; }
	nav .logo { top:12px; }
	nav .gnb { margin-top:24px; }
	#menu > li a { font-size:16px; }

	#menu > li > .subMenu { top:48px; }
	#menu > li > .subMenu > li { padding:5px 10px; border-bottom: 1px solid #ddd; display: list-item; }
	#menu > li > .subMenu > li > a { font-size:13px; line-height:1.5; color:#585858; display:inline-block; width:100%; }
	#menu > li > .subMenu > li > a:hover { color:#2041a8; }

	#menu > li:last-child > .subMenu { width:140px; margin-left:-80px; }

	/* main Content-Left */
	.leftMainBox { float:left; width:100%; }
	.leftMainBox > .box { width:100%; height:125px; margin-bottom:15px; }


	/* main Content-Right */
	.rightMainBox { float:left; width:100%; }
	.rightMainBox > .box { width:100%; height:60px; margin-bottom:20px; }
	.rightMainBox > .box1 > .inBox1 { left:0; width:23.5%; background:#fafafa; }
	.rightMainBox > .box1 > .inBox2 { left:25.5%; width:23.5%; height:100%; background:#fafafa; }
	.rightMainBox > .box1 > .inBox3 { left:51%;  width:23.5%; height:100%; background:#fafafa; }
	.rightMainBox > .box1 > .inBox4 {  width:23.5%; background:#fafafa; }
	.rightMainBox > .box1 > .inBox > .plus2 { right:10px; top:10px; }

	.rightMainBox > .box > .inBox > .title { position:relative; left:0; top:0; text-align:center; padding-top:20px; font-size:12px; }

	.rightMainBox > .box2 { width:100%; height:80px; }
	.rightMainBox > .box2 > .inBox1 { background:url(../img/bBg5.jpg) no-repeat 100% 90% #cbc9b2; background-size:60%; }
	.rightMainBox > .box2 > .inBox2 { background:url(../img/bBg6.jpg) no-repeat 100% 90% #98aba7; background-size:60%; }
	.rightMainBox > .box2 > .inBox3 { background:url(../img/bBg7.jpg) no-repeat 100% 90% #879b9a; background-size:60%; }

	.rightMainBox > .box2 > .inBox > .plus3 { display:none; }

	.rightMainBox > .box2 > .inBox > .title { padding-top:30px; }


	/* Banner */
	.banner ul li { max-width:13%; }


	/* Sidebar */
	.toolbar { position:fixed; top:0; right:0; background-color:#f8b63b; z-index:99; }
	.menu-button { position:relative;  margin:20px; height:30px; width:30px; cursor:pointer; text-align:center; }
	.menu-button .fa { color:#fff; font-size:30px; }

}


