/* Default */
#wrap { float:left; width:100%; display:block; }
.contentWidth { width:100%; max-width:1400px; padding:0; margin:0 auto; position:relative; }

.head { float:left; width:100%; position:relative; }
.logo { position:absolute; top:30px; right:95px; z-index:1; }
.logoSub { top:50px; right:35px; }
.logoSub img { max-width:185px; }
.title { position:absolute; top:60px; left:50px; z-index:1; }
.vv { position:absolute; top:106px; left:135px; z-index:1; }

/* Slide */
.slide { float:left; width:100%; background:#f6f6f6; }
.mainSlide { width:1400px; height:571px; height:auto; margin:0 auto; }

.bx-wrapper { position:relative; margin:0 auto; padding:0; }
.bx-wrapper .bx-viewport { -moz-box-shadow:none; -webkit-box-shadow:none; box-shadow:none; border:0; left:0; }

.bx-wrapper .bx-caption { width:auto; right:20px; bottom:20px; left:inherit; }
.bx-wrapper .bx-caption span { font-size: 14px; }
.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto { bottom: 20px; }

/* mainContent */
.mainContent { float:left; width:100%; height:216px; background:url(../img/mainBody.jpg) no-repeat left top #fff; }
.mainContent > ul { text-align:center; margin:20px 0 25px; }
.mainContent > ul > li { display:inline-block; padding:0 20px; }
.mainContent > ul > li:first-child { padding-left:0; }
.mainContent > ul > li:last-child { padding-right:0; }
.mainContent > .copy { text-align:center; }

/* subTop */
.subTop { float:left; width:100%; height:106px; background:url(../img/mainBody.jpg) no-repeat left top #fff;  }

/* subBody */
.subBody { float:left; margin-top:70px; }
.leftCon { float:left; width:233px; min-height:500px; padding-left:60px; }
.rightCon { float:left; min-height:650px; width:1167px; padding-left:37px; background:url(../img/leftBg.jpg) no-repeat left top #fff; }

/* leftCon */
.leftCon > ul { max-width:142px; }
.leftCon > ul > li { display:block; margin-bottom:10px; }
.leftCon > ul > li > a > img.hover { display:none; }
.leftCon > ul > li > a:hover > img.normal { display:none; }
.leftCon > ul > li > a:hover > img.hover { display:block; }

/* rightCon */
.contentBody { margin-top:60px; }

/* foot */
.foot { float:left; width:1400px; height:25px; background:url(../img/subFoot.jpg) no-repeat right top #fff; }
