@charset “utf-8″;
@font-face{
    font-family:'SpoqaHanSans-Regular';
    src:url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.eot');
    src:url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.woff') format('woff'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.ttf') format('truetype'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.svg#SpoqaHanSans-Regular') format('svg')
    src:local(※), url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Regular.woff') format('woff');
}
@font-face{
    font-family:'SpoqaHanSans-Bold';
    src:url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.eot');
    src:url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.woff') format('woff'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.ttf') format('truetype'),
    url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.svg#SpoqaHanSans-Bold') format('svg')
        src:local(※), url('http://district.workmob.co.kr/admin/fonts/SpoqaHanSans-Bold.woff') format('woff');
}

    body {
        background: #d5d5d5;
        padding: 0px !important;
        margin: 0px !important;
    }
    body, input, textarea, select, button, table {
        font-family: 'SpoqaHanSans-Regular',  'Malgun Gothic', 'dotum', sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ul li {
        list-style: none;
    }
    ol li {
        list-style-type: decimal;
        list-style-position: outside;
        margin-bottom: 10px;
    }
    a, a:hover, a:focus {
        text-decoration: none;
        outline: 0;
    }
img {
    max-width: 100%;
    height: auto;
}
.text-orange {
    color:#F78E30;
}
::selection {
    background: #1d4975;
    color: #fff;
    text-shadow: none;
}
::-moz-selection {
    background: #1d4975;
    color: #fff;
    text-shadow: none;
}
    .glyphicon-refresh-animate {
       -animation: spin .7s infinite linear;
       -webkit-animation: spin2 .7s infinite linear;
    }

    @-webkit-keyframes spin2 {
       from { -webkit-transform: rotate(0deg);}
       to { -webkit-transform: rotate(360deg);}
    }

    @keyframes spin {
       from { transform: scale(1) rotate(0deg);}
       to { transform: scale(1) rotate(360deg);}
    }

blockquote {
	padding: 0 15px;
	color: #777777;
	border-left: 4px solid #dddddd;
	font-size: 16px;
  }

.loading {
    text-align: center;
    padding-top: 10px;
    padding-bottom:10px;
    color: #7086a2;
}

/*breadcrumbs*/

.breadcrumb {
    background-color: #fff;
}

.form-question {
    height: auto;
    color: #000;
}

.form-signin {
    max-width: 330px;
    margin: 50px auto 0;
    background: #fff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}
@media screen and (max-width: 768px) {
    .form-signin {
    width: 90%;
    margin: 50px auto 0;
    }
}
.division-td {
    background-color:#555;
    height:2px;
    font-size: 0;
    border-top:none;
    border-bottom:none;
    padding:0;
}

input.admin[type=checkbox] {
    display: none;
}

input.admin[type=checkbox] + label{
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px;
    margin-right: 15px;
    margin-top:3px;
}

input.admin[type=checkbox]+ label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background-color: #fff;
    border:2px solid #ddd;
    border-radius: 0;
    box-shadow: none;
}
input.admin[type=checkbox]:checked + label:before {
font-family: 'FontAwesome';
    content: "\f00c";
    font-size: 14px;
    color: #535c68;
    background:#fff;
    text-align: center;
    line-height: 16px;
}
.form-signin h2.form-signin-heading {
    margin: 0;
    padding:20px 15px;
    text-align: center;
    background: #7087A3;
    border-radius: 3px 3px 0 0;
    -webkit-border-radius: 3px 3px 0 0;
    color: rgba(255,255,255,0.5);
    font-size: 18px;
    text-transform: uppercase;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"], .form-signin input[type="password"] {
    margin-bottom: 15px;
    border: 1px solid #eaeaea;
    box-shadow: none;
    font-size: 12px;
}

.form-signin .btn-login {
    background: #00bdf3;
    color: #fff;
    margin: 10px 0;
}

.form-signin p {
    text-align: center;
    color: #b6b6b6;
    font-size: 16px;
    font-weight: 300;
}

.form-signin a {
    color: #7087A3;
}

.form-signin a:hover {
    color: #b6b6b6;
}

.login-wrap {
    padding: 20px;
}
.modal-content {
  border-radius: 3px;
  border: 1px solid #7087A3;
}
.modal-header {
    background: #7087A3;
    color: #fff;
    border-radius: 2px 2px 0 0;
    -webkit-border-radius: 2px 2px 0 0;
    border-bottom: none;
}
.modal-header .close {
    margin-top: 0;
}

.modal-container {
    margin: 0;
    overflow-x:hidden;
    position:relative;
}
.modal-wrapper {
 height: inherit;
}
.page {
    float:left;
}
.page .form-horizontal .form-group {
    margin:10px;
}

.simulate{
    min-height:300px;
}
.form-group {
  margin-bottom: 5px;
}
.form-group-sm .form-control {
      border-radius: 0;
    }
.form-control {
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: 1px solid #ddd;
  -webkit-appearance: none;
  padding: 6px 12px;
}
.form-control[readonly] {
  border-bottom: 1px solid #ddd !important;
  cursor: default !important;
  padding: 6px 12px;
  height: auto;
  background-color: transparent;
  border-top: none;
  border-left: none;
  border-right: none;
    -webkit-appearance: none;
}
.dark-form {
    display: block;
    width: 100%;
    border: 1px solid #ddd;
    padding: 6px 12px;
    background-color: #2d3e50;
    border:1px solid #475a6d;;
    color: #fff;
}
.dark-form:focus {
  outline: 0;
}
.dark-form::-moz-placeholder {
  color: rgba(255,255,255,0.7);
  opacity: 1;
}
.dark-form:-ms-input-placeholder {
  color: rgba(255,255,255,0.7);
}
.dark-form::-webkit-input-placeholder {
  color: rgba(255,255,255,0.7);
}
@media (max-width: 768px) {
    .form-control[readonly] {
        padding: 4px 0;
    }
}

.long-input {
  max-width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

textarea[readonly], input[readonly] {
background-color: transparent;
border: none;
}
.input-group-addon {
  padding: 5px;
  border-radius: 0;
  border: 1px solid #ddd;
}
.input-group-addon input[readonly] {
    border:none;
    background-color: transparent;
}
.label-default {
	font-size: 90%;
}
.label-question {
	font-size: 90%;
	background-color: #2a3542;
}

.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  border-radius: 0;
}
hr {
margin-top: 10px;
margin-bottom: 10px;
}

.line-caption-holder {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 15px 0;
}
.line-caption {
    position: absolute;
    top: -10px;
    padding: 0 10px;
    width: 160px;
    margin-left: -80px;
}

    /*sidebar navigation*/

     #sidebar {
        width: 210px;
        height: 100%;
        position: fixed;
        /*background: #34495e;*/
        overflow-y: scroll;
        background-image:url('/images/background_left.png');
        background-repeat:no-repeat;
        background-size:100% 100%;
    }
    #sidebar::-webkit-scrollbar {
        display: none;
    }

    #sidebar ul li {
        position: relative;
    }

    #sidebar ul li hr {
        color: rgba(255,255,255,0.15);
        border-top: 1px dotted;
        margin: 10px 0;
    }

    #sidebar .sub-menu > .sub li  {
        padding-left: 32px;
    }

    #sidebar .sub-menu > .sub li:last-child {
        padding-bottom: 10px;
    }
    /*
    .label {
    border-radius : 0;
		height: 24px;
		line-height: 24px;
    }
    */
    /*LEFT NAVIGATION ICON*/
    .dcjq-icon {
        height:17px;
        width:17px;
        display:inline-block;
        background: url(../images/nav-expand.png) no-repeat top;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        position:absolute;
        right:10px;
        top:15px;
    }
    .active .dcjq-icon {
        background: url(../images/nav-expand.png) no-repeat bottom;
        border-radius:3px;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
    }
    /*---*/
.nav-collapse.collapse {
    display: inline;
}

ul.sidebar-menu , ul.sidebar-menu li ul.sub {
    margin: -2px 0 0;
    padding: 0;
}

ul.sidebar-menu {
    margin-top: 75px;
}

#sidebar > ul > li > ul.sub {
    display: none;
}

#sidebar > ul > li.active > ul.sub, #sidebar > ul > li > ul.sub > li > a {
    display: block;
}

ul.sidebar-menu li ul.sub li{
    background: #2d3e50;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
}

ul.sidebar-menu li ul.sub li:last-child{
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
}

ul.sidebar-menu li ul.sub li a {
    font-size: 12px;
    padding: 6px 0;
    line-height: 35px;
    height: 35px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    color: #d9dadd;
}

ul.sidebar-menu li ul.sub li a:hover, ul.sidebar-menu li ul.sub li.active a {
    color: #00bdf3;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    display: block;
}

ul.sidebar-menu li{
    /*line-height: 20px !important;*/
    margin-bottom: 5px;
    margin-left:10px;
    margin-right:10px;
}

ul.sidebar-menu li.sub-menu{
    line-height: 15px;
}

ul.sidebar-menu li a span{
    display: inline-block;
}

ul.sidebar-menu li a {
    color: #dddddd;
    text-decoration: none;
    display: block;
    outline: none;
    font-size: 14px;
     padding: 10px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

ul.sidebar-menu li a.active, ul.sidebar-menu li a:hover, ul.sidebar-menu li a:focus {
    background: #2d3e50;
    color: #fff;
    display: block;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}


ul.sidebar-menu li a i {
    font-size: 18px;
    margin-right:10px;

}

ul.sidebar-menu li a:hover i, ul.sidebar-menu li a:focus i {
    color: #00bdf3;
}

ul.sidebar-menu li a.active i {
    color: #00bdf3;
}
.sidebar-bt {
    background-color: #2d3e50;
    border:1px solid #475a6d;
    border-radius:4px;
    text-indent: 5px;
}


@media (max-width: 768px) {


    .header {
        position: absolute;
    }

    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }


    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        /*display: none !important;*/
    }

    .mail-info, .mail-info:hover {
        display: none !important;
    }
    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        /*background: #4A8BC2 !important ;*/
    }


    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }
}

    /*---------*/


    .mail-info, .mail-info:hover {
        margin: -3px 6px 0 0;
        font-size: 11px;
    }

    /*main content*/

    #main-content {
        margin-left: 210px;
    }

    .header, .footer {
        min-height: 60px;
        padding: 0 15px;
    }

    .header {
        position: fixed;
        left: 0;
        right: 0;
        top:0;
        z-index: 1002;
    }

    .white-bg {
        background: #fff;
        border-bottom: 1px solid #f1f2f7;
        box-shadow: 0 2px 5px rgba(0,0,0,0.26);
    }

    .wrapper {
        display: inline-block;
        margin-top: 60px;
        padding: 15px;
        width: 100%;
    }
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0;
    }
}
    a.logo {
        float: left;
        margin-top: 15px;
    }

    a.logo:hover, a.logo:focus {
        text-decoration: none;
        outline: none;
    }

    a.logo span {
        color: #eb6f37;
    }
    a.logo img {
        height: 30px;
    }

    .id-signout {
        float: right;
        margin-top: 20px;
    }
    .id-signout a {
        color: #00bdf3;
    }
    .id-signout a:hover {
        color: #35404D;
    }



/*--sidebar toggle---*/

.sidebar-toggle-box {
    float: left;
    padding-right: 15px;
    margin-top: 20px;
}

.sidebar-toggle-box .fa-bars {
    cursor: pointer;
    display: inline-block;
    font-size: 20px;
    color: #34495e;
}


.sidebar-closed > #sidebar > ul {
    display: none;
}

.sidebar-closed #main-content {
    margin-left: 0px;
}

.sidebar-closed #sidebar {
    margin-left: -180px;
}

    /*fontawesome*/

    .fontawesome-icon-list h2 {
        margin-top: 0;
        font-size: 20px;
        font-weight: 300;
    }

    .fontawesome-icon-list .col-sm-4, .fontawesome-icon-list .col-md-3, .fontawesome-icon-list .col-xs-6 {
        margin-bottom: 10px;
    }

    .fontawesome-icon-list .page-header {
        border-bottom: 1px solid #C9CDD7;
    }

    .fontawesome-icon-list a {
        color: #797979;
    }

    .fontawesome-icon-list a:hover{
        color: #35404D;
    }

    .fontawesome-icon-list i {
        font-size: 16px;
        padding-right: 10px;
    }

    #web-application, #text-editor, #directional, #video-player, #brand, #medical, #currency {
        margin-top: 10px;
    }

    /*table*/

    .table-advance tr td {
        vertical-align: middle !important;
    }

    .no-border {
        border-bottom: none;
    }

    .dataTables_length , .dataTables_filter{
        padding:15px;
    }
    .dataTables_info{
        padding:0 15px;
    }

    .dataTables_filter {
        float: right;
    }

    .dataTables_length select {
        width: 65px;
        padding:5px 8px;
    }

    .dataTables_length label, .dataTables_filter label {
        font-weight: 300;
    }

    .dataTables_filter label {
        width: 100%;
    }

    .dataTables_filter label input {
        width: 78%;
    }

    .border-top {
        border-top: 1px solid #ddd;
    }

    .dataTables_paginate.paging_bootstrap.pagination li {
        float: left;
        margin: 0 1px;
        border: 1px solid #ddd;
        border-radius: 2px;
        -webkit-border-radius: 2px;
    }

    .dataTables_paginate.paging_bootstrap.pagination li.disabled a{
        color: #c7c7c7;
    }
    .dataTables_paginate.paging_bootstrap.pagination li a{
        color: #797979;
        padding: 5px 10px;
        display: inline-block;
    }

    .dataTables_paginate.paging_bootstrap.pagination li:hover a, .dataTables_paginate.paging_bootstrap.pagination li.active a{
        color: #797979;
        background: #eee;
        border-radius: 2px;
        -webkit-border-radius: 2px;
    }

    .dataTables_paginate.paging_bootstrap.pagination {
        float: right;
        margin-top: -5px;
        margin-bottom: 15px;

    }

    .dataTable tr:last-child {
        border-bottom: 1px solid #ddd;
    }
.table-responsive {
	width: 100%;
	margin-bottom: 15px;
	overflow-x: auto;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	-ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}
.table-responsive > .table {
	margin-bottom: 0;
}
.table-responsive > .table > thead > tr > th,
.table-responsive > .table > tbody > tr > th,
.table-responsive > .table > tfoot > tr > th,
.table-responsive > .table > thead > tr > td,
.table-responsive > .table > tbody > tr > td,
.table-responsive > .table > tfoot > tr > td {
	white-space: nowrap;
}
.table-responsive > .table-bordered {
	border: 0;
}
.table-responsive > .table-bordered > thead > tr > th:first-child,
.table-responsive > .table-bordered > tbody > tr > th:first-child,
.table-responsive > .table-bordered > tfoot > tr > th:first-child,
.table-responsive > .table-bordered > thead > tr > td:first-child,
.table-responsive > .table-bordered > tbody > tr > td:first-child,
.table-responsive > .table-bordered > tfoot > tr > td:first-child {
	border-left: 0;
}
.table-responsive > .table-bordered > thead > tr > th:last-child,
.table-responsive > .table-bordered > tbody > tr > th:last-child,
.table-responsive > .table-bordered > tfoot > tr > th:last-child,
.table-responsive > .table-bordered > thead > tr > td:last-child,
.table-responsive > .table-bordered > tbody > tr > td:last-child,
.table-responsive > .table-bordered > tfoot > tr > td:last-child {
	border-right: 0;
}
.table-responsive > .table-bordered > tbody > tr:last-child > th,
.table-responsive > .table-bordered > tfoot > tr:last-child > th,
.table-responsive > .table-bordered > tbody > tr:last-child > td,
.table-responsive > .table-bordered > tfoot > tr:last-child > td {
	border-bottom: 0;
}

.clickableTr {
  cursor: pointer;
}

.table th, td {
  text-align: center;
  font-size: 0.875em;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  vertical-align: middle !important;
}
.ta-center {
  text-align: center;
}

.table-noborder th, .table-noborder td {
    border-top: none !important;
    text-align: center;
 }

.table-noborder > thead > tr > th,
.table-noborder > tbody > tr > th,
.table-noborder > tfoot > tr > th,
.table-noborder > thead > tr > td,
.table-noborder > tbody > tr > td,
.table-noborder > tfoot > tr > td {
  padding-left: 0;
  padding-right: 0;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f5f5f5;
}
.nav-pills > li > a {
  border-radius: 0;
  border-bottom:1px solid #ddd;
}
.nav-stacked>li+li {
    margin-top: 0;
}

    /*tabs*/

    .tab-head {
        background: #7087a3;
        display: inline-block;
        width: 100%;
        margin-top: 60px;
    }

    .tab-container {
        margin-top: 10px;
    }

    .tab-head .nav-tabs > li > a {
        border-radius: 0;
        margin-right: 1px;
        color: #fff;
    }

    .tab-head .nav-tabs > li.active > a, .tab-head .nav-tabs > li > a:hover, .tab-head .nav-tabs > li.active > a:hover, .tab-head .nav-tabs > li.active > a:focus {
        background-color: #f1f2f7;
        border-color: #f1f2f7;
        color: #797979;
    }

/*general page*/

    .progress-xs {
        height: 8px;
    }

    .progress-sm {
        height: 12px;
    }
    .graph {
        width: 96%;
        height: 12px;
        background: #ebebeb;
        position: relative;
        margin: auto;
        border-radius: 0;
    }
    .bar {
    height: 12px;
    background: #7087A3;
    background-size: 24px 24px;
    background-image: linear-gradient(135deg, rgba(255, 255, 255, 0.35) 25%, transparent 25%,
    transparent 50%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0.35) 75%,
    transparent 75%, transparent);
    *position: absolute;
    *left: 0;
    }


    .panel-heading .nav {
        border: medium none;
        font-size: 13px;
        margin: -10px -15px -11px;
    }

    .page-header-style {
        background: #f0f0f0;
        border-radius:0;
        border-bottom: 1px solid #ddd;
    }

    .panel-heading .nav > li > a,
    .panel-heading .nav > li.active > a, .panel-heading .nav > li.active > a:hover, .panel-heading .nav > li.active > a:focus {
        border-width: 0;
        border-radius: 0;
        padding: 10px 12px;
    }

    .panel-heading .nav > li > a {
        color: #fff;
    }

    .panel-heading .nav > li.active > a, .panel-heading .nav > li > a:hover {
        color: #47596f;
        background: #fff;
    }

    .panel-heading .nav > li:first-child.active > a, .panel-heading .nav > li:first-child > a:hover {
        border-radius: 0;
        -webkit-border-radius: 0;
    }


    .tab-right {
        height: 38px;    }

    .panel-heading.tab-right .nav > li:first-child.active > a, .tab-right.panel-heading .nav > li:first-child > a:hover {
        border-radius:  0 ;
        -webkit-border-radius: 0 ;
    }

    .panel-heading.tab-right .nav > li:last-child.active > a, .tab-right.panel-heading .nav > li:last-child > a:hover {
        border-radius:  0;
        -webkit-border-radius: 0;
    }

    .panel-heading.tab-right .nav-tabs > li > a {
        margin-left: 1px;
        margin-right: 0px;
    }
    @media (max-width: 768px) {
        .panel-body {
            padding: 5px;
        }
    }

    .m-bot5 {
        margin-bottom: 5px;
    }
	.m-top5 {
        margin-top: 5px;
    }
    .m-bot10 {
        margin-bottom: 10px;
    }
    .m-bot15 {
        margin-bottom: 15px;
    }
    .m-bot20 {
        margin-bottom: 20px;
    }
    .m-left15 {
        margin-left: 15px;
    }
    .m-left30 {
    	margin-left: 30px;
    }

    .m-right10 {
        margin-right: 10px;
    }
	.m-right30 {
    	margin-right: 30px;
    }

    .m-bot-none {
        margin-bottom: 0;
    }
	.m-15 {margin:15px;}
	.m-none {
		 margin: 0;
	}
	.m-p-none {
		 margin-left: 0;
		 margin-right: 0;
		 padding-left: 0;
		 padding-right: 0;
		}
    .wht-color {
        color: #fff;
    }

    .close-sm {
        font-size: 14px;
    }

    /*carousel*/

    .carousel-indicators li {
        background:  rgba(0, 0, 0, 0.2) ;
        border:  none;
        transition:background-color 0.25s ease 0s;
        -moz-transition:background-color 0.25s ease 0s;
        -webkit-transition:background-color 0.25s ease 0s;
    }

    .carousel-indicators .active {
        background:#ff6c60;
        height: 10px;
        margin: 1px;
        width: 10px;
    }

    .carousel-indicators.out {
        bottom: -5px;
    }

    .carousel-indicators.out {
        bottom: -5px;
    }

    .carousel-control {
        color: #999999;
        text-shadow: none;
        width: 45px;
    }

    .carousel-control i {
        display: inline-block;
        height: 25px;
        left: 50%;
        margin-left: -10px;
        margin-top: -10px;
        position: absolute;
        top: 50%;
        width: 20px;
        z-index: 5;
    }


    .carousel-control.left, .carousel-control.right {
        background: none;
        filter:none;
    }

    .carousel-control:hover, .carousel-control:focus {
        color: #CCCCCC;
        opacity: 0.9;
        text-decoration: none;
    }

    .carousel-inner h3 {
        font-weight: 300;
        font-size: 16px;
        margin: 0;
    }

    .carousel-inner {
        margin-bottom: 15px;
    }



    /*form*/


    .sm-input {
        width: 175px;
    }
    .form-horizontal.tasi-form .form-group {
        border-bottom: 1px solid #eff2f7;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .form-horizontal.tasi-form .form-group:last-child {
        border-bottom: none;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }


    .form-horizontal.tasi-form .form-group .help-block {
        margin-bottom: 0;
    }
    .round-input {
        border-radius: 500px;
        -webkit-border-radius: 500px;
    }

    .form-horizontal.tasi-form .checkbox-inline > input {
        margin-top: 1px;
        border:none;
    }


    .iconic-input {
        position: relative;
    }

    .iconic-input i {
        color: #CCCCCC;
        display: block;
        font-size: 16px;
        height: 16px;
        margin: 8px 5px 8px 10px;
        position: absolute;
        text-align: center;
        width: 16px;
    }

    .iconic-input input {
        padding-left: 30px !important;
    }

    .iconic-input.right input {
        padding-left: 10px !important;
        padding-right: 30px !important;
    }

    .iconic-input.right i {
        float: right;
        right: 5px;
    }

    input.spinner[type="text"], input.spinner[type="password"], input.spinner[type="datetime"], input.spinner[type="datetime-local"], input.spinner[type="date"], input.spinner[type="month"], input.spinner[type="time"], input.spinner[type="week"], input.spinner[type="number"], input.spinner[type="email"], input.spinner[type="url"], input.spinner[type="search"], input.spinner[type="tel"], input.spinner[type="color"] {
        background: url("../img/input-spinner.gif") right no-repeat !important;
    }

		.edit-option-wrap {

		}

    /*form validation*/

    .cmxform .form-group label.error {
        display: inline;
        margin: 5px 0;
        color: #B94A48;
        font-weight: 400;
    }

    input:focus:invalid:focus, textarea:focus:invalid:focus, select:focus:invalid:focus, .cmxform .form-group input.error , .cmxform .form-group textarea.error{
        border-color: #B94A48 !important;
    }
.input-inline {
  display: inline-block;
  widows: inherit;
}

textarea[disabled], input[disabled] {
  border: 1px solid #f4f4f4 !important;
  background-color: #fdfdfd !important;
  cursor: default !important;
  color: #aaa;
}

    #signupForm label.error {
        display: inline;
        margin:5px 0px;
        width: auto;
        color: #B94A48;
    }

    .checkbox, .checkbox:hover, .checkbox:focus  {
        border:none;
    }


    /*slider*/
    table.sliders tr td {
        padding: 30px 0;
        border:none;
    }

    .slider {
        margin-top: 3px;
    }

    .slider-info {
        padding-top: 10px;
    }

    .sliders .ui-widget-header {
        background: #22bacf !important;
        border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
    }

    .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
        border-bottom-right-radius: 0 !important;
    }
    .ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
        border-bottom-left-radius: 0 !important;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
        border-top-right-radius: 0 !important;
    }
    .ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
        border-top-left-radius: 0 !important;
    }


    #eq span {
        height:120px; float:left; margin:15px
    }


    .ui-widget-content {
        background: #f0f2f7 !important;
        border: none !important;
        border-radius: 15px !important;
        -webkit-border-radius: 15px !important;
    }

    .ui-slider-horizontal {
        height: 8px !important;
    }

    .ui-slider-horizontal .ui-slider-handle {
        top: -0.57em   !important;
    }

    .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
        background: #fff !important;
        border: 3px solid #22bacf !important;
        border-radius: 50% !important;
        -webkit-border-radius: 50% !important;
    }

    .ui-slider-vertical {
        width: 8px !important;
    }

    .ui-slider-vertical .ui-slider-handle {
        left: -0.5em  !important;
    }

    .ui-slider .ui-slider-handle {
        cursor: default;
        height: 1.6em;
        position: absolute;
        width: 1.6em;
        z-index: 2;
    }

    .bound-s {
        width: 90px;
        margin-bottom: 15px;
    }




    /*checkbox & radio style*/


    .checkboxes label, .radios label {
        display: block;
        cursor: pointer;
        line-height: 20px;
        padding-bottom: 7px;
        font-weight: 300;
    }

    .radios {
        padding-top: 18px;
    }

    .label_check input,
    .label_radio input {
        margin-right: 5px;
    }

    .has-js .label_check,
    .has-js .label_radio {
        padding-left: 34px;
    }

    .has-js .label_radio {
        background: url(../img/checkbox/radio-off.png) no-repeat;
    }

    .has-js .label_check {
        background: url(../img/checkbox/check-off.png) no-repeat;
    }

    .has-js label.c_on {
        background: url(../img/checkbox/check-on.png) no-repeat;
    }

    .has-js label.r_on {
        background: url(../img/checkbox/radio-on.png) no-repeat;
    }

    .has-js .label_check input,
    .has-js .label_radio input {
        position: absolute;
        left: -9999px;
    }

/*------------------------------------------------------------------
Project:	Style Guide for KTMM Admin
Version:	1
Created: 		26/07/2015
Last change:	26/07/2015
-------------------------------------------------------------------*/

/* ===== Buttons ===== */


.btn-close-wrap {
position: relative;
}
.btn-close-wrap .btn-close-i {
    position: absolute;
    top: 5px;
    left: 3px;
    display: none;
}
.btn-close-wrap:hover .btn-close-i {
display: block;
}
a.btn-close {
    color:#fff;
    background-color: rgba(42,53,66,0.35);
      padding: 4px;
      border-radius: 2px;
}
a.btn-close:hover {
    color:#fff;
    background-color: rgba(42,53,66,0.75);
    padding: 4px;
    border-radius: 2px;
}
.btn {
    border-radius: 2px;
    font-family: 'SpoqaHanSans-Bold',  'Malgun Gothic', 'dotum', sans-serif;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline:0;
}
.btn-row {
        margin-bottom: 5px;
    }
.btn-space {
        padding-left: 11.6%;
        padding-right: 11%;
    }

/* 1. Default Button : white btn */
.btn-default {
	color: #666;
	background-color: #fff;
	border-color: #dedede;
}
.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.hl-open .dropdown-toggle.btn-default {
	color: #222;
	background-color: #eee;
	border-color: #ddd;
}
.btn-default:active:hover,
.btn-default.active:hover,
.open > .dropdown-toggle.btn-default:hover,
.btn-default:active:focus,
.btn-default.active:focus,
.open > .dropdown-toggle.btn-default:focus,
.btn-default:active.focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default.focus {
	color: #222;
	background-color: #eee;
	border-color: #ddd;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: #f0f0f0;
	border-color: #dedede;
}

/* 2. Turquoise Button */

.btn-primary {
    background-color: #41cac0;
    border-color: #41cac0;
    color: rgba(255, 255, 255, 0.85);
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
    background-color: #39b2a9;
    border-color: #39b2a9;
    color: #fff;
}
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    background-color: #39b2a9;
    border-color: #39b2a9;
    color: #fff;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #88d1cb;
	border-color: #88d1cb;
}




/* 3. Green Button */

.btn-success {
    background-color: #78CD51;
    border-color: #78CD51;
    color: rgba(255, 255, 255, 0.85);
}
.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
    background-color: #6dbb4a;
    border-color: #6dbb4a;
    color: #fff;
}
.btn-success:active:hover,
.btn-success.active:hover,
.open > .dropdown-toggle.btn-success:hover,
.btn-success:active:focus,
.btn-success.active:focus,
.open > .dropdown-toggle.btn-success:focus,
.btn-success:active.focus,
.btn-success.active.focus,
.open > .dropdown-toggle.btn-success.focus {
    background-color: #6dbb4a;
    border-color: #6dbb4a;
    color: #fff;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
	background-color: #a7d692;
	border-color: #a7d692;
}
/* 4. Red Button */

.btn-danger {
    background-color: #ff6c60;
    border-color: #ff6c60;
    color: rgba(255, 255, 255, 0.85);
}

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
    background-color: #ec6459;
    border-color: #ec6459;
    color: #fff;
}
.btn-danger:active:hover,
.btn-danger.active:hover,
.open > .dropdown-toggle.btn-danger:hover,
.btn-danger:active:focus,
.btn-danger.active:focus,
.open > .dropdown-toggle.btn-danger:focus,
.btn-danger:active.focus,
.btn-danger.active.focus,
.open > .dropdown-toggle.btn-danger.focus {
	background-color: #ec6459;
    border-color: #ec6459;
    color: #fff;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
	background-color: #f4a29b;
	border-color: #f4a29b;
}
/* 5. Blue Button */

.btn-info {
    background-color: #58c9f3;
    border-color: #58c9f3;
    color: rgba(255, 255, 255, 0.85);
}

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
    background-color: #53bee6;
    border-color: #53BEE6;
    color: #fff;
}
.btn-info:active:hover,
.btn-info.active:hover,
.open > .dropdown-toggle.btn-info:hover,
.btn-info:active:focus,
.btn-info.active:focus,
.open > .dropdown-toggle.btn-info:focus,
.btn-info:active.focus,
.btn-info.active.focus,
.open > .dropdown-toggle.btn-info.focus {
	background-color: #53bee6;
    border-color: #53BEE6;
    color: #fff;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
	background-color: #98d8f0;
	border-color: #98d8f0;
}

/* 6. yellow Button */

.btn-warning {
    background-color: #f1c500;
    border-color: #f1c500;
    color: rgba(255, 255, 255, 0.85);
}

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
    background-color: #e4ba00;
    border-color: #e4ba00;
    color: #fff;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
	background-color: #e4ba00;
    border-color: #e4ba00;
    color: #fff;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
	background-color: #efd666;
	border-color: #efd666;
}
/* 7. Dark Button */

.btn-dark {
	background-color: #475a6d;
	border-color: #475a6d ;
    color: rgba(255, 255, 255, 0.85);
}
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active,
.btn-dark.active,
.open .dropdown-toggle.btn-dark {
	background-color: #3f5266;
	border-color: #3f5266;
    color: #fff;
}
.btn-dark:active:hover,
.btn-dark.active:hover,
.open > .dropdown-toggle.btn-dark:hover,
.btn-dark:active:focus,
.btn-dark.active:focus,
.open > .dropdown-toggle.btn-dark:focus,
.btn-dark:active.focus,
.btn-dark.active.focus,
.open > .dropdown-toggle.btn-dark.focus {
	background-color: #3f5266;
	border-color: #3f5266;
    color: #fff;
}
.btn-dark.disabled,
.btn-dark[disabled],
fieldset[disabled] .btn-dark,
.btn-dark.disabled:hover,
.btn-dark[disabled]:hover,
fieldset[disabled] .btn-dark:hover,
.btn-dark.disabled:focus,
.btn-dark[disabled]:focus,
fieldset[disabled] .btn-dark:focus,
.btn-dark.disabled:active,
.btn-dark[disabled]:active,
fieldset[disabled] .btn-dark:active,
.btn-dark.disabled.active,
.btn-dark[disabled].active,
fieldset[disabled] .btn-dark.active {
	background-color: #9aa0a6;
	border-color: #9aa0a6;
}


/* ===== Badges ===== */
    .badge.bg-default {
       background-color: #ccc;
    }

    .badge.bg-primary {
        background: #41cac0;
    }

    .badge.bg-success {
        background: #78CD51;
    }

    .badge.bg-danger {
        background: #ff6c60;
    }

    .badge.bg-info {
        background: #58c9f3;
    }

    .badge.bg-warning {
        background: #f1c500;
    }

    .badge.bg-dark {
        background: #535c68;
    }


/* ===== Panels ===== */

.panel {
	border-radius: 0;
 margin-bottom: 10px;
}
.user-guide {
	max-width: 900px;
	word-spacing: 3px;
	line-height: 1.5em;
	padding: 15px 10px;
}
.user-guide img {
    border:1px solid #ccc;
}
.panel-title {
 line-height: 30px;
 font-weight:bold;
}
.panel-page > .panel-heading, .panel-edit > .panel-heading {
  padding: 5px 15px 0 15px;
}
.panel-info > .panel-heading {
  padding: 5px 15px;
}
.panel-footer {
	border-radius: 0;
    background-color: #f5f5f5;
	border-top: 1px solid #f5f5f5;
}
.panel-group .panel {
	border-radius: 0;
}
.panel-border {border:1px solid #ddd;}
.panel-default {
  border-color: #afb3b9;
}
.panel-default > .panel-heading {
  color: #404347;
  background-color: #afb3b9;
  border-color: #afb3b9;
 border-top-left-radius: 0;
  border-top-right-radius: 0;
}
/* 1. Panel page */

.panel-page {
	border-color: #ddd;
}
.panel-page > .panel-heading {
	color: #333;
  font-weight: bold;
	background-color: #f0f0f0;
	border-color: #ddd;
 	border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* 2. Panel edit */

.panel-edit {
	border-color: #8ec377;
}
.panel-edit > .panel-heading {
	color: #ffffff;
	background-color: #8ec377;
	border-color: #8ec377;
	border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* 3. Panel Dark */

.panel-dark {
	border-color: #7087A3;
}
.panel-dark > .panel-heading {
	color: #ffffff;
	background-color: #7087A3;
	border-color: #7087A3;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* ===== Info Boards ==== */

.info-board {
	margin-top: 0;
	border-left: 3px solid transparent;
    background-color: #f7f7f7;
}
.info-board .row {
    padding: 5px 5px 0 5px;
}
.info-board .base {
    padding: 5px;
}

/* 1. Info board green */
.info-board-green {
	border-color: #8ec377;
}

/* 2. Info board blue */
.info-board-blue {
	border-color: #56c1e9;
}

/* 3. Info board orange */
.info-board-orange {
    border-color: #edc051;
}

/* 4. Info board navy */
.info-board-navy {
	border-color: #7087A3;
}

/* 5. Info board gray */
.info-board-gray {
  border-color: #d5d5d5;
}
/* 6. Info board small */
.info-board-small {
    font-size: 86%;
    color: #828282;
}
.info-board-small span  {
    line-height: 22px;
    margin: 0 5px;
}
.well {
    border-radius: 0;
    background-color: #ffffff;
    border: 5px solid #dfdfdf;
    -webkit-box-shadow: none;
    box-shadow: none;
    margin-bottom:0;
}
/* ===== Alerts ===== */

.alert {
	border-radius: 0;
}
.alert > ul li {
    list-style: circle;
}

dl {
    margin:25px 0;
}


dl dt {
    color:#3190c4;
    font-size: 16px;
    font-weight:bold;
    padding:0;
}


dl dd {
    margin-bottom: 25px;
    padding-left:27px;
    color: #777;
}
.Q-ex {
    color: #666;
}
.Q-ex h5 {
    margin-top: 15px;
    margin-bottom: 0;
}
.Q-ex img {
	cursor: pointer;
}
.Q-ex hr {
  margin-top: 29px;
  margin-bottom: 29px;
  border-top: 2px solid #eee;
}

.range {
    display: table;
    position: relative;
    height: 30px;
    background-color: #f5f5f5;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
input[type="range"]{
    background-image: -webkit-gradient(
        linear,
        left top,
        right top,
        color-stop(0.5, rgba(0,0,0, 0.06)),
        color-stop(0.5, transparent)
    );
}

.range input[type="range"] {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    display: table-cell;
    width: 100%;
    background-color: transparent;
    height: 30px;
    border: none;
    cursor: pointer;
}
.range input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 17px;
    height: 30px;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
}

.range input[type="range"]::-moz-slider-thumb {
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    -ms-appearance: none !important;
    -o-appearance: none !important;
    appearance: none !important;
    width: 17px;
    height: 30px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #999;
    border: 1px solid rgba(0, 0, 0, 0.15);
}

.range output {
    display: table-cell;
    padding: 3px 5px 2px;
    min-width: 40px;
    color: #fff;
    font-weight: bold;
    background-color: #999;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    width: 1%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}
.range input[type="range"] {
    outline: none;
}
.range.range-default input[type="range"]::-webkit-slider-thumb {
    background-color: #afb3b9;
}
.range.range-default input[type="range"]::-moz-slider-thumb {
    background-color: #afb3b9;
}
.range.range-default output {
    background-color: #afb3b9;
}
.range.range-default input[type="range"] {
    outline-color: #39b2a9;
}

.range.range-primary input[type="range"]::-webkit-slider-thumb {
    background-color: #39b2a9;
}
.range.range-primary input[type="range"]::-moz-slider-thumb {
    background-color: #39b2a9;
}
.range.range-primary output {
    background-color: #39b2a9;
}
.range.range-primary input[type="range"] {
    outline-color: #39b2a9;
}

.range.range-success input[type="range"]::-webkit-slider-thumb {
    background-color: #78CD51;
}
.range.range-success input[type="range"]::-moz-slider-thumb {
    background-color: #78CD51;
}
.range.range-success output {
    background-color: #78CD51;
}
.range.range-success input[type="range"] {
    outline-color: #78CD51;
}

.range.range-info input[type="range"]::-webkit-slider-thumb {
    background-color: #58c9f3;
}
.range.range-info input[type="range"]::-moz-slider-thumb {
    background-color: #58c9f3;
}
.range.range-info output {
    background-color: #58c9f3;
}
.range.range-info input[type="range"] {
    outline-color: #58c9f3;
}

.range.range-warning input[type="range"]::-webkit-slider-thumb {
    background-color: #f1c500;
}
.range.range-warning input[type="range"]::-moz-slider-thumb {
    background-color: #f1c500;
}
.range.range-warning output {
    background-color: #f1c500;
}
.range.range-warning input[type="range"] {
    outline-color: #f1c500;
}

.range.range-danger input[type="range"]::-webkit-slider-thumb {
    background-color: #ff6c60;
}
.range.range-danger input[type="range"]::-moz-slider-thumb {
    background-color: #ff6c60;
}
.range.range-danger output {
    background-color: #ff6c60;
}
.range.range-danger input[type="range"] {
    outline-color: #ff6c60;
}
.glyphicon-sort {
        cursor: move;
      }
.optionMedia, .mediaDisplay {
margin: 15px;
/* padding-top: 15px; */
}
.userInput {
    border:3px solid #FF9525;
    margin-top: 4px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline {
    margin-top: 0;
    margin-left: 0px;
}
