.selectOptionPicker ul {
  list-style-type: none;
  clear: left;
  margin: 5px;
  padding: 0;
}

.selectOptionPicker li, .selectOptionPicker a {
  float: left;
  min-width: 37px;
}

.selectOptionPicker li { 
  margin: 0 5px 5px 0; 
}

.selectOptionPicker li a, 
.selectOptionPicker .limited a, 
.selectOptionPicker .disabled {
  border: 2px solid #f1f1f1;
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
}

.selectOptionPicker li:last-child { 
  margin-right: 0; 
}

.selectOptionPicker a {
  color: #3c89c8;
  padding: 4px;
  text-align: center;
  text-decoration: none;
  font-size: 15px;  
}

.selectOptionPicker .disabled span {
  padding: 4px;
  display: block;
  font-size: 15px;
  min-width: 37px;
}

.selectOptionPicker a:hover, 
.selectOptionPicker .picked {
  border: 2px solid #1f4e6d;
  text-decoration: none;
}

.selectOptionPicker .limited a, 
.selectOptionPicker .disabled {
  text-align: center;
}

.selectOptionPicker .disabled {
  border: 1px solid #d1d1d1;
  color: #999;
}

.selectOptionPicker .disabled .picked {
  border: 1px solid #f9f9f9;
}
